<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="flase">
	<Appenders>
		<File name="backendWrapper" fileName="backendWrapper.log" bufferedIO="false" advertise="true">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</File>
    <!--Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console-->
	</Appenders>
	<Loggers>
		<Logger name="com.mycompany.sensorrest" level="debug">
			<AppenderRef ref="backendWrapper"/>
		</Logger>
	</Loggers>
</Configuration>